.idea/codeStyles/
.idea/dictionaries
.idea/inspectionProfiles
.idea/workspace.xml
bazel-bin
bazel-genfiles
bazel-js-dossier
bazel-out
bazel-testlogs
buck-out/
cert.pem
generated/
generated_tests/
key.pem
node_modules/
out.zip
out/
package-lock.json
target/
