.idea/workspace.xml
.idea/dictionaries
.idea/inspectionProfiles
bazel-bin
bazel-genfiles
bazel-js-dossier
bazel-out
bazel-testlogs
buck-out/
cert.pem
generated/
generated_tests/
key.pem
node_modules/
out/
out.zip
target/
